body{
    font-family: "Montserrat", sans-serif;
    max-width: 910px;
    margin: 10px;
    padding: 0 30px;
}

a{
    display: flex;
    align-items: end;
    text-decoration: none;
    color: black;
    margin-right: 70px;
}

img{
    width: 600px;
    height: 350px;
    object-fit: cover;
}

#cabecera{
    text-transform: uppercase;
}

#cabecera .container .logo{
    font-size: larger;
    font-weight: bolder;
}

#cabecera .container ul{
    font-size:small;
    list-style: none;
    padding: 0px;
}

.wrapper{
    display: grid;
    gap: 10px;
}

section h1{
   font-weight: normal; 
}

footer{
    clear: both;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

